html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* General styling */

button {
  color: white;
  background-color: #3eb489;
  padding: 8px 15px;
  border-style: none;
  border-radius: 25px;
  width: 200px;
  transition: background-color 0.5s;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

button:hover {
  color: lightsalmon;
  background-color: white;
}

h2 {
  font-size: 65px;
  color: #00539c;
}

h3 {
  font-size: 35px;
}

p {
  font-size: 20px;
}

/* Header */

body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #00539c;
  text-align: center;
}

header h1,
h3 {
  color: lightsalmon;
}

/* Navigation */
.nav {
  position: fixed;
  background-color: #00539c;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-items: center;
  justify-content: space-evenly;
  padding-top: 20px;
  z-index: 1000;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 20px;
}

.nav li {
  display: inline-block;
  margin: 0 40px;
}

.nav a {
  font-size: 20px;
  text-decoration: none;
  color: lightsalmon;
}

.nav a:hover {
  color: white;
}

/* Welcome page */

.nameHeader {
  padding: 200px;
  color: white;
}

.nameHeader h1 {
  font-size: 85px;
}

.nameHeader h3 {
  font-size: 35px;
}

.nameHeader button {
  margin-top: 15px;
}

/* About me */

.aboutMe {
  display: flex;
  justify-content: center;
  background-color: lightsalmon;
  align-items: center;
  height: 100vh;
  text-align: center;
}

/* Skills */

.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background-color: white;
}

.skills h2 {
  color: lightsalmon;
}

.skillsTitle {
  text-align: center;
  margin-top: 50px;
}

.skillsList ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: lightsalmon;
}

.skillsList li {
  font-size: 50px;
  margin: 25px;
  font-weight: 700;
}

.skillsList li p {
  font-size: 16px;
  font-weight: ;
  color: lightsalmon;
  text-align: center;
}

/* Projects */

/* CSS for the projects section */

.projects {
  display: flex;
  background-color: lightsalmon;
  height: 200vh;
  padding: 80px;
  text-align: center;
}

.project1,
.project2,
.project3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.project1Text .project2Text .project3Text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.projectImg img {
  display: flex;
  width: 500px;
  height: auto;
}

/* Form */

.form {
  max-width: 500px;
}
.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  background-color: #00539c;
}

.formContainer h2 {
  color: white;
}

.contactMeTitle {
  text-align: center;
}

.form input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.form button {
  margin: 20px;
}

.socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.socialMedia ul {
  list-style: none;
}

.socialMedia ul li {
  display: inline-block;
  justify-content: center;
  margin: 5px;
}

.socialMedia li a {
  color: lightsalmon;
}

/* Footer */

footer p {
  background-color: lightsalmon;
  text-align: center;
  color: #00539c;
  padding: 20px 0;
}
